.hero{
    background-color: tomato;
    padding: 5px solid blue;
}
.gitpush{
    background-color: blueviolet;
}
.list{
    font-size: 20px;
    text-align: center;
    color: seagreen;
    text-shadow: 5px seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}